{% extends "base.html" %}

{% block main %}
<div class = 'header_graph'>
    <h3> Scatter Plot (sepal length, petal length) </h3>
</div>

<!-- Load d3.js -->
<!-- Create a div where the graph will take place -->

<div class = "my_dataviz">
<div id="my_dataviz"></div>
</div>

<div class = "legend">
  <svg id="legend" height=250 width=250></svg>
</div>


<script>
// select the svg area
var svg = d3.select("#legend")
// Handmade legend
svg.append("circle").attr("cx",100).attr("cy",130).attr("r", 6).style("fill", "#440154ff")
svg.append("circle").attr("cx",100).attr("cy",160).attr("r", 6).style("fill", "#21908dff")
svg.append("circle").attr("cx",100).attr("cy",190).attr("r", 6).style("fill", "#fde725ff")
svg.append("text").attr("x", 120).attr("y", 130).text("Iris-setosa").style("font-size", "15px").attr("alignment-baseline","middle")
svg.append("text").attr("x", 120).attr("y", 160).text("Iris-versicolor").style("font-size", "15px").attr("alignment-baseline","middle")
svg.append("text").attr("x", 120).attr("y", 190).text("Iris-virginica").style("font-size", "15px").attr("alignment-baseline","middle")



// set the dimensions and margins of the graph
var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;



// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");



//Read the data
//csv 파일을 읽을 때  d3.csv (경로 , function(data){})  를 통해 csv 파일을 읽어온다.

d3.csv("https://raw.githubusercontent.com/HaJunYoo/iris-development/main/iris.csv", function(data) {
{# https://raw.githubusercontent.com/HaJunYoo/iris-development/main/iris.csv#}
{# https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/iris.csv#}

    // Add X scale and axis sepal length
  var x = d3.scaleLinear()
    .domain([4, 8])
    .range([ 0, width ]);
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

  // Add Y scale and axis petal length
  var y = d3.scaleLinear()
    .domain([0, 9])
    .range([ height, 0]);
  svg.append("g")
    .call(d3.axisLeft(y));

  // Color scale: give me a specie name, I return a color
  var color = d3.scaleOrdinal()
    .domain(["Iris-setosa", "Iris-versicolor", "Iris-virginica" ])
    .range([ "#440154ff", "#21908dff", "#fde725ff"])


  // Highlight the specie that is hovered
  var highlight = function(d){

    selected_specie = d.classification

    d3.selectAll(".dot")
      .transition()
      .duration(200)
      .style("fill", "lightgrey")
      .attr("r", 3)

    d3.selectAll("." + selected_specie)
      .transition()
      .duration(200)
      .style("fill", color(selected_specie))
      .attr("r", 7)
  }

  // Highlight the specie that is hovered
  var doNotHighlight = function(){
    d3.selectAll(".dot")
      .transition()
      .duration(200)
      .style("fill", "lightgrey")
      .attr("r", 5 )
  }

  // Add dots
  svg.append('g')
    .selectAll("dot")
    .data(data)
    .enter()
    .append("circle")
      .attr("class", function (d) { return "dot " + d.classification } )
      .attr("cx", function (d) { return x(d.sepal_length); } )
      .attr("cy", function (d) { return y(d.petal_length); } )
      .attr("r", 5)
      .style("fill", function (d) { return color(d.classification) } )
    .on("mouseover", highlight)
    .on("mouseleave", doNotHighlight )

})

</script>


{% endblock %}